@model IEnumerable<Travel.Models.PhotoGalleryHeader>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Item")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InternalUse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GalleryCommonName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InternalUse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GalleryCommonName)
        </td>
        <td>
            @Html.ActionLink("Photos", "Index", controllerName: "Photos",routeValues: new { id = item.GalleryID }, htmlAttributes: null) |
            @Html.ActionLink("Edit", "Item", new { id=item.GalleryID }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.GalleryID }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.GalleryID })
        </td>
    </tr>
}

</table>
