@model Travel.ViewModels.HomeIndexViewModel
@using Resources
@{
    ViewBag.Title = "";
}
@if (Model.MainCarouselList.Count() > 0)
{
    <style>
        /* force to hide top parallax image for index page! */
        #menuParallaxBG {
            min-height: 0 !important;
        }
    </style>
}
<link rel="stylesheet" type="text/css" href="~/Scripts/wowsilder/style.css" />

@Html.Partial("_MainCarousel", Model.MainCarouselList)

<div class="container text-center">
    <h3 class="heading-title">@Body.BestOffers</h3>
    @*<p class="heading-subtitle">@Body.CheckTopTours</p>*@
</div>

@Html.Partial("_Tours", Model.Tours)
<div class="theme-button-container">
    @Html.ActionLink(Body.ViewAllTours, "index", controllerName: "tours", routeValues: null,
            htmlAttributes: new { @class = "theme-button" })
</div>

@Html.Partial("_Countries", Model.Countries)

<div>
    @Html.Partial("_PhotoGallery", Model.PhotoGallery)
</div>

<div class="tiger-img">
    <h2 class="border">@Body.Perfection1</h2>
    <h2 class="border">@Body.Perfection2</h2>
    <div class="theme-button-container-right">
        @Html.ActionLink(Body.FindPerfectTour, "index", controllerName: "tours", routeValues: null,
            htmlAttributes: new { @class = "theme-button" })
    </div>
</div>
@Html.Partial("_MainVideoBox", Model.VideoBox)
<div class="parallax-container parallax-img1">
    <div class="parallax-caption">
        <span class="border">@Body.WeAreDifferent</span>
    </div>
</div>
<div class="parallax-container parallax-img2">
    @Html.Partial("_Subscribe", new Travel.Models.Subscription())
    @Html.Partial("_Contact", new Travel.Models.ContactMail())
</div>

@section scripts{
    <script src="https://cdn.jsdelivr.net/picturefill/2.3.1/picturefill.min.js"></script>
    <script src="https://cdn.rawgit.com/sachinchoolur/lightgallery.js/master/dist/js/lightgallery.js"></script>
    <script src="https://cdn.rawgit.com/sachinchoolur/lg-pager.js/master/dist/lg-pager.js"></script>
    <script src="https://cdn.rawgit.com/sachinchoolur/lg-autoplay.js/master/dist/lg-autoplay.js"></script>
    <script src="https://cdn.rawgit.com/sachinchoolur/lg-fullscreen.js/master/dist/lg-fullscreen.js"></script>
    <script src="https://cdn.rawgit.com/sachinchoolur/lg-zoom.js/master/dist/lg-zoom.js"></script>
    <script src="https://cdn.rawgit.com/sachinchoolur/lg-hash.js/master/dist/lg-hash.js"></script>
    <script src="https://cdn.rawgit.com/sachinchoolur/lg-share.js/master/dist/lg-share.js"></script>

    <script>
        /// subscription
        var subscriptionMessage = '@Body.SubscriptionMessage';
        var failedSubscriptionMessage = '@Body.FailedSubscriptionMessage';
        /// contacts
        var successMessage = '@Body.MessageSent';
        var failedMessage = '@Body.MessageFailed';
    </script>

    <script>
        lightGallery(document.getElementById('lightgallery'));

        $(function () {
            $('.owl-carousel').owlCarousel({
                items: 1,
                merge: true,
                loop: true,
                margin: 10,
                video: true,
                lazyLoad: true,
                center: true,
                responsive: {
                    480: {
                        items: 2
                    },
                    600: {
                        items: 4
                    }
                }
            })
        })
    </script>

    <script>
        $(function () {
            //$('.tour-cell').matchHeight(false);
        });
    </script>

    <script type="text/javascript" src="~/Scripts/wowsilder/wowslider.js"></script>
    <script type="text/javascript" src="~/Scripts/wowsilder/script.js"></script>
}