@model Travel.Models.Photo

@using Travel.Helper

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this photo from <b>@Html.DisplayFor(model => model.PhotoGallery.GalleryCommonName)</b> gallery ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            <img src="@Images.GetThumbFullPath(Model.Path, Model.GalleryID)" class="photo-img-thumb" />
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index", new { id = Model.GalleryID })
        </div>
    }
</div>
