@using Resources
@{
    var settings = HttpContext.Current.Application["Settings"] as Travel.Models.Settings;
    var supportedLang = HttpContext.Current.Application["SupportedLanguages"] as List<Travel.Models.Language>;
    var currencies = HttpContext.Current.Application["Currencies"] as List<Travel.Models.Currency>;

    var culture = System.Threading.Thread.CurrentThread.CurrentCulture;
    var currentLang = supportedLang.FirstOrDefault(x => x.LangCulture.ToLower().Equals(culture.Name.ToLower()));
    if (currentLang == null)
    {
        currentLang = supportedLang.FirstOrDefault();
    }

    var currentCurrency = HttpContext.Current.Request.Cookies["Currency"]?.Value ?? "AMD";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        @(!string.IsNullOrEmpty(ViewBag.Title) ? ViewBag.Title + " - " + Common.AppName : Common.AppName)
    </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<link href="~/Content/Layout/index.css" rel="stylesheet" />*@

    <link href="https://cdn.rawgit.com/sachinchoolur/lightgallery.js/master/dist/css/lightgallery.css" rel="stylesheet">

    <link href="~/Externals/owl/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Externals/owl/owlcarousel/assets/owl.theme.default.min.css" rel="stylesheet" />
    <style>
        @@font-face {
    font-family: ChilliFont;
    src: url(/Content/Fonts/@(currentLang.FontName));
    font-weight: 400;
}
    </style>

</head>
<body>

    <div class="bar-top-info">
        <div class="navbar-header" style="float:right;">
            <div class="ddl-bar" style="display:none;">
                <button class="current-ddl currency-container" onclick="dropDownCurrencyList()">
                    @currentCurrency
                </button>
                <div class="ddl-bar-content" id="currencyContent">
                    @foreach (var currency in currencies)
                    {
                        @Ajax.ActionLink(currency.Name, "SetCurrency",
                                 controllerName: "Settings",
                                 routeValues: new { currency = currency.Name },
                                 ajaxOptions: new AjaxOptions { HttpMethod = "POST", OnComplete = "reloadPage" },
                                 htmlAttributes: new { @class = (currentCurrency == currency.Name ? "lang-highlighted" : "") })
                    }
                </div>
            </div>
            <div class="ddl-bar">
                <button class="current-ddl language-container" onclick="dropDownLanguageList()">
                    @currentLang.CommonName
                </button>
                <div class="ddl-bar-content" id="languageContent">
                    @foreach (var language in supportedLang)
                    {
                        @Ajax.ActionLink(language.CommonName, "SetLanguage",
                                 controllerName: "Settings",
                                 routeValues: new { lang = language.Locale },
                                 ajaxOptions: new AjaxOptions { HttpMethod = "POST", OnComplete = "reloadPage" },
                                 htmlAttributes: new { @class = currentLang == language ? "lang-highlighted" : "" })
                    }
                </div>
            </div>
        </div>
        <div>
            <ul class="nav navbar-nav info-bar">
                <li>
                    <span class="theme-color" style="margin-right:30px;">β-version</span>
                    <span class="glyphicon glyphicon-phone-alt theme-color"></span>  @settings.PhoneNumbers
                    <span style="margin-left:30px;" class="glyphicon glyphicon-envelope theme-color"></span> @settings.Email
                </li>
                <li><span class="glyphicon glyphicon-map-marker theme-color"></span> @Common.Address </li>
            </ul>



            @*<ul class="nav navbar-nav languages">
                    @foreach (var language in supportedLang)
                    {
                        <li>
                            @Ajax.ActionLink(language.CommonName, "Set",
                                     controllerName: "Language",
                                     routeValues: new { lang = language.Locale },
                                     ajaxOptions: new AjaxOptions { HttpMethod = "POST", OnComplete = "reloadPage" },
                                     htmlAttributes: new { @class = currentLang == language ? "lang-highlighted" : "" })
                        </li>
                    }
                </ul>*@
            @* we don't need search box yet. it is hidden from css...*@
            <ul class="nav navbar-nav search-ul">
                <li class="search-bar">
                    <form method="get" action="@Url.Action("Index", "Search", null)">
                        @Html.TextBox("q", null, new { @class = "search-box", @placeholder = Common.Search })
                        <input type="submit" style="display:none" />
                    </form>
                </li>
            </ul>

        </div>

    </div>

    <div class="navbar navbar-default navbar-fixed-top">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index", "Home", new { area = "" })">
                <img src="~/Images/horizontal_logo_color.png" height="50" style="margin:0px;padding:0px;" />
            </a>

        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    @Html.ActionLink(Common.MenuHome, "index", controllerName: "Home")
                </li>
                <li>
                    @Html.ActionLink(Common.MenuTours, "index", controllerName: "Tours")
                </li>
                @*<li>
                        @Html.ActionLink(Common.MenuGallery, "index", controllerName: "Gallery")
                    </li>*@
                <li>
                    @Html.ActionLink(Common.MenuBlog, "index", controllerName: "News")
                </li>
                <li>
                    @Html.ActionLink(Common.MenuAboutUs, "About", controllerName: "Home")
                </li>
            </ul>
        </div>
        @*<div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>*@

    </div>
    <div id="menuParallaxBG" class="parallax-container parallax-img11">
    </div>
    <div class="body-content">
        @RenderBody()
        @Html.Partial("_Footer")
    </div>
    <div id="snackbar">@Body.RequestSent</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/layout")

    <script src="~/Externals/owl/owlcarousel/owl.carousel.js"></script>
    @RenderSection("scripts", required: false)


    <script>

    </script>


</body>
</html>