@using Resources

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        @(!string.IsNullOrEmpty(ViewBag.Title) ? ViewBag.Title +" - "+ Common.AppName : Common.AppName)
    </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Layout/index.css" rel="stylesheet" />

    <link href="https://cdn.rawgit.com/sachinchoolur/lightgallery.js/master/dist/css/lightgallery.css" rel="stylesheet">

    <link href="~/Externals/owl/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Externals/owl/owlcarousel/assets/owl.theme.default.min.css" rel="stylesheet" />
</head>
<body>

    @{
        var culture = System.Threading.Thread.CurrentThread.CurrentCulture;

        var langIsEng = culture.Name.ToLower().Contains("en-us");

        var hyClass = langIsEng ? "" : "lang-highlighted";
        var enClass = langIsEng ? "lang-highlighted" : "";

        var settings = HttpContext.Current.Application["Settings"] as Travel.Models.Settings;
    }
    <div class="bar-top-info">
        <div>
            <ul class="nav navbar-nav info-bar">
                <li><span class="glyphicon glyphicon-phone-alt theme-color"></span>  @settings.PhoneNumbers </li>
                <li><span class="glyphicon glyphicon-envelope theme-color"></span> @settings.Email </li>
                <li><span class="glyphicon glyphicon-map-marker theme-color"></span> @Common.Address </li>
            </ul>
            @* we don't need search box yet. it is hidden from css...*@
            <ul class="nav navbar-nav search-ul">
                <li class="search-bar">
                    <form method="get" action="@Url.Action("Index", "Search", null)">
                        @Html.TextBox("q", null, new { @class = "search-box", @placeholder = Common.Search })
                        <input type="submit" style="display:none" />
                    </form>
                </li>
            </ul>

        </div>

    </div>

    <div class="navbar navbar-default navbar-fixed-top">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index", "Home", new { area = "" })">
                <span class="glyphicon glyphicon-map-marker"></span>Logo
            </a>

        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    @Html.ActionLink(Common.MenuHome, "index", controllerName: "Home")
                </li>
                <li>
                    @Html.ActionLink(Common.MenuTours, "index", controllerName: "Tours")
                </li>
                @*<li>
                        @Html.ActionLink(Common.MenuGallery, "index", controllerName: "Gallery")
                    </li>*@
                <li>
                    @Html.ActionLink(Common.MenuBlog, "index", controllerName: "News")
                </li>
                <li>
                    @Html.ActionLink(Common.MenuAboutUs, "About", controllerName: "Home")
                </li>
                <li>
                    @Ajax.ActionLink("Հայ", "Set",
                        controllerName: "Language",
                        routeValues: new { lang = "hy" },
                        ajaxOptions: new AjaxOptions { HttpMethod = "POST", OnComplete = "reloadPage" },
                        htmlAttributes: new { @class = hyClass })
                </li>
                <li>
                    @Ajax.ActionLink("Eng", "Set",
                        controllerName: "Language",
                        routeValues: new { lang = "en" },
                        ajaxOptions: new AjaxOptions { HttpMethod = "POST", OnComplete = "reloadPage" },
                        htmlAttributes: new { @class = enClass })
                </li>
            </ul>
        </div>
        @*<div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>*@

    </div>
    <div id="menuParallaxBG" class="parallax-container parallax-img11">
    </div>
    <div class="body-content">
        @RenderBody()
        @Html.Partial("_Footer")
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/layout")

    @*@Styles.Render("~/Content/Index")*@

    <script src="~/Externals/owl/owlcarousel/owl.carousel.js"></script>
    @*<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight-min.js"></script>*@
    @RenderSection("scripts", required: false)
</body>
</html>