@model IEnumerable<Travel.ViewModels.TourViewModel>

@{
    ViewBag.Title = "Index";
    var LangID = (int)ViewBag.LangID;
    var lstCountries = ViewBag.CountriesInfo as IEnumerable<Travel.Models.CountryHeader>;
}
<link href="http://kendo.cdn.telerik.com/2017.3.913/styles/kendo.common.min.css" rel="stylesheet" />
<link href="http://kendo.cdn.telerik.com/2017.3.913/styles/kendo.nova.min.css" rel="stylesheet" />
<link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css">

<div class="container tour-filter-container">
    @Html.DropDownList("Countries", "- filter by countries -")
    @Html.DropDownList("Categories", "- filter by categories -")
</div>
<div id="divTourList">
    @*@Html.Partial("_Tours", Model)*@
    @Html.Action("TourList");
</div>
<div class="loading">
    <img src="~/Images/loading.gif" width="150" />
</div>


@section scripts{
    <script type="text/javascript" src="http://kendo.cdn.telerik.com/2017.3.913/js/kendo.all.min.js"></script>
    <script>
        $(function () {
            tourUI.init();
        })

        var tourUI = {
            countryPath: [],
            defaultPath: "",
            init: function () {
                $('#Countries').kendoDropDownList({
                    change: tourUI.refreshTours
                });
                $('#Categories').kendoDropDownList({
                    change: tourUI.refreshTours
                });

                @foreach(var it in lstCountries)
                {
                    var path = Html.Raw( Travel.Helper.Images.GetPath(it.Photo.Path, it.Photo.GalleryID) ).ToString();
                    @( Html.Raw("tourUI.countryPath[" + it.CountryID + "] = '" + path + "' ; ") )
                }

            },

            refreshTours: function () {
                var h = $("#divTourList").height();
                $(".loading").height(h);
                $("#divTourList").empty();
                $(".loading").show();
                cat = $('#Categories').data('kendoDropDownList');
                country = $('#Countries').data('kendoDropDownList');
                $.get('@Url.Action("TourList")', 'categoryId=' + cat.value() + '&countryId=' + country.value(), function (result) {
                    $("#divTourList").html(result);
                    $(".loading").hide();
                }, 'html');

                var path = tourUI.countryPath[country.value()];
                if (tourUI.defaultPath == "") {
                    tourUI.defaultPath = $(".parallax-img11").css('background-image');
                }
                if (path == null) {
                    $(".parallax-img11").css('background-image', tourUI.defaultPath);
                }
                else {
                    $(".parallax-img11").css('background-image', 'url("' + path + '")');
                }
            }
        };
    </script>
}