@model Travel.Models.ContactMail
@using Resources

<div class="container">
    @*<h2>@Common.ContactPage</h2>*@
    <h3>@Common.LetsBook</h3>
    
    @using (Ajax.BeginForm("Send", controllerName: "Mails", routeValues: null, ajaxOptions: new AjaxOptions { OnComplete = "index.onComplete", OnBegin="index.onBegin" }, htmlAttributes: new { id="frmSendContactMail"}))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeHolder= Common.Name } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeHolder = Common.Email } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.TextAreaFor(model => model.Message, new { @class = "form-control", @rows = "5", @placeHolder = Common.Message })
                    @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" id="btnSumbit" value="@Common.SendMessage" class="btn btn-default" />
                    <span class="text-success glyphicon glyphicon-send sending"></span>
                    <span id="ajaxMessage"></span>
                </div>
                
            </div>
        </div>
    }
</div>
<script>
    var successMessage = '@Common.MessageSent';
    var failedMessage = '@Common.MessageFailed';
</script>
@Scripts.Render("~/bundles/homeIndex")