@model Travel.Models.PhotoGalleryHeader

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PhotoGalleryHeader</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InternalUse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InternalUse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GalleryCommonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GalleryCommonName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GalleryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
