@model Travel.Models.TourHeader

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TourHeader</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CountryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country.CommonName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CommonName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BestOffer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BestOffer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NightCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NightCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CommonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommonName)
        </dd>

        @foreach (var item in Model.TourDetail)
        {
            <dt>
                @Html.DisplayFor(model => item.Language.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.Title)
            </dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Item", new { id = Model.TourID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
