@model IEnumerable<Travel.Models.TourHeader>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Item")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CountryID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Country.CommonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CommonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Item", new { id = item.TourID }) |
                @Html.ActionLink("Details", "Details", new { id = item.TourID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TourID })
            </td>
        </tr>
    }

</table>
