@model IEnumerable<Travel.Models.NewsHeader>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h4>Blog</h4>
<p>
    @Html.ActionLink("Create New", "Item")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CommonName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CommonName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Item", new { id=item.NewsID }) |
            @Html.ActionLink("Details", "Details", new { id=item.NewsID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NewsID })
        </td>
    </tr>
}

</table>
