@using Resources
@{ 
    var settings = HttpContext.Current.Application["Settings"] as Travel.Models.Settings;
}
<footer class="footer">
    <div class="row">
        <div class="col-md-5 info">
            <address>
                @Common.AppName<br />
                <span class="theme-color glyphicon glyphicon-map-marker"></span>&emsp; @Common.Address <br />
                <span class="theme-color glyphicon glyphicon-phone"></span>&emsp; @settings.PhoneNumbers <br />
                <span class="theme-color glyphicon glyphicon-envelope"></span>&emsp;<a href="mailto:@(settings.Email)">@settings.Email</a><br />
            </address>
            <p>@Html.ActionLink(Common.MenuAboutUs, "About", controllerName: "Home")</p>
        </div>
        <div class="col-md-5">
            <p>@Common.FindUsOn</p>
            <div class="sc">
                <a class="sca" href="https://www.facebook.com/ChilliTravelClub" target="_blank">
                    <div class="sprite_face">
                    </div>
                </a>
                @*<a class="sca" href="#">
                    <div class="sprite_twitter">
                    </div>
                </a>*@

                @*<a href="#">
                <div class="sprite_rss">
                </div>
            </a>
            <a href="#">
                <div class="sprite_linked">
                </div>
            </a>*@
                @*<a class="sca" href="#">
                    <div class="sprite_pint">
                    </div>
                </a>*@
                @*<a href="#">
                <div class="sprite_share">
                </div>
            </a>*@
                <a class="sca" href="https://www.youtube.com/" target="_blank">
                    <div class="sprite_youtube">
                    </div>
                </a>
            </div>
        </div>
    </div>

    <p>&copy; @DateTime.Now.Year - @Common.AppName</p>
</footer>